[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment bluetruck.jpg [Image] 49 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=c5adf26a19&attid=0.1&permmsgid=msg-f:1659026248584107914&th=17060b954be7978a&view=att&disp=safe&realattid=17060b9165648050eb82
Icon=text-html
